## understanding `extend`

In [8]:
# start fresh with new groups
jackson5 = ['jackie', 'tito', 'jermaine', 'marlon', 'michael']
destiny  = ['beyonce', 'kelly', 'michelle']
top40    = ['taylorswift', 'postmalone']

In [9]:
# extend() modifies a list in place, it doesn't return anything
jackson5.extend(destiny)
print(jackson5)

['jackie', 'tito', 'jermaine', 'marlon', 'michael', 'beyonce', 'kelly', 'michelle']

## `append()` adds a single item

In [11]:
# use `append()` to add some old men
destiny.append(['george', 'paul', 'john', 'ringo'])
print(destiny)

['beyonce', 'kelly', 'michelle', ['george', 'paul', 'john', 'ringo']]

In [17]:
# find and print Ringo, who is buried in a list within a list
print(f'I found {destiny[-1][-1].capitalize()}')
print(f'I found {destiny[3][3].capitalize()}')

I found Ringo
I found Ringo

## looping over a list

In [24]:
# loop over 'destiny'
#for <variable> in <list>:
#    do something
print("here's the destiny list:", destiny)
for cat_lady in destiny:
    print("cat_lady = ", cat_lady, end = ' ')
    print(type(cat_lady))

here's the destiny list: ['beyonce', 'kelly', 'michelle', ['george', 'paul', 'john', 'ringo']]
cat_lady =  beyonce <class 'str'>
cat_lady =  kelly <class 'str'>
cat_lady =  michelle <class 'str'>
cat_lady =  ['george', 'paul', 'john', 'ringo'] <class 'list'>

## checking the `type()`

In [26]:
# what is destiny[1]? destiny[3]?
print(type(destiny[1]))
print(type(destiny[3]))

<class 'str'>
<class 'list'>

## loop over a list within a list

In [27]:
# loop over the old guys in 'destiny'
for old_man in destiny[-1]:
    print(old_man)

george
paul
john
ringo

## introducing a test

In [33]:
# what type of variable is this anyway?
for i in destiny:
    if type(i) is list:
        print("it's a list:", i)
    else:
        print("it's a string:", i)

it's a string: beyonce
it's a string: kelly
it's a string: michelle
it's a list: ['george', 'paul', 'john', 'ringo']

## executing a nested `for` loop

In [45]:
# loop within a loop

# set up some counters
x = 1 # number of members in Destiny's Child
y = 1 # number of beatles

for i in destiny:
    if type(i) is list:
        for beatle in i:
            print(f'Beatle number {y} is {beatle}')
            y += 1 # this is the same as x = x + 1
            print(f'y = {y}')
    else:
        print(f'Destiny\'s Child number {x} is {i}')
        x += 1
        print(f'x = {x}')
print('x = {x}, y = {y}')
print(f'total size of the band is {x + y}')

Destiny's Child number 1 is beyonce
x = 2
Destiny's Child number 2 is kelly
x = 3
Destiny's Child number 3 is michelle
x = 4
Beatle number 1 is george
y = 2
Beatle number 2 is paul
y = 3
Beatle number 3 is john
y = 4
Beatle number 4 is ringo
y = 5
x = {x}, y = {y}
total size of the band is 9

### retrieve the index _and_ the value with `enumerate()`

In [47]:
# lots of flexibility with enumerate()
presidents = ["George Washington", "John Adams", "Thomas Jefferson", "James Madison", "James Monroe", "John Quincy Adams", "Andrew Jackson", "Martin Van Buren", "William Henry Harrison", "John Tyler", "James Knox Polk", "Zachary Taylor", "Millard Fillmore", "Franklin Pierce", "James Buchanan", "Abraham Lincoln", "Andrew Johnson", "Ulysses S. Grant", "Rutherford Birchard Hayes", "James Abram Garfield", "Chester Alan Arthur", "Grover Cleveland", "Benjamin Harrison", "Grover Cleveland", "William McKinley", "Theodore Roosevelt", "William Howard Taft", "Woodrow Wilson", "Warren Gamaliel Harding", "Calvin Coolidge", "Herbert Clark Hoover", "Franklin Delano Roosevelt", "Harry S. Truman", "Dwight David Eisenhower", "John Fitzgerald Kennedy", "Lyndon Baines Johnson", "Richard Milhous Nixon", "Gerald Rudolph Ford", "James Earl Carter Jr.", "Ronald Wilson Reagan", "George Herbert Walker Bush", "William Jefferson Clinton", "George Walker Bush", "Barack Hussein Obama", "Donald Trump", "Joe Biden"]

for num,name in enumerate(presidents):
    print(f'President number {num+1} was {name}')

President number 1 was George Washington
President number 2 was John Adams
President number 3 was Thomas Jefferson
President number 4 was James Madison
President number 5 was James Monroe
President number 6 was John Quincy Adams
President number 7 was Andrew Jackson
President number 8 was Martin Van Buren
President number 9 was William Henry Harrison
President number 10 was John Tyler
President number 11 was James Knox Polk
President number 12 was Zachary Taylor
President number 13 was Millard Fillmore
President number 14 was Franklin Pierce
President number 15 was James Buchanan
President number 16 was Abraham Lincoln
President number 17 was Andrew Johnson
President number 18 was Ulysses S. Grant
President number 19 was Rutherford Birchard Hayes
President number 20 was James Abram Garfield
President number 21 was Chester Alan Arthur
President number 22 was Grover Cleveland
President number 23 was Benjamin Harrison
President number 24 was Grover Cleveland
President number 25 was William McKinley
President number 26 was Theodore Roosevelt
President number 27 was William Howard Taft
President number 28 was Woodrow Wilson
President number 29 was Warren Gamaliel Harding
President number 30 was Calvin Coolidge
President number 31 was Herbert Clark Hoover
President number 32 was Franklin Delano Roosevelt
President number 33 was Harry S. Truman
President number 34 was Dwight David Eisenhower
President number 35 was John Fitzgerald Kennedy
President number 36 was Lyndon Baines Johnson
President number 37 was Richard Milhous Nixon
President number 38 was Gerald Rudolph Ford
President number 39 was James Earl Carter Jr.
President number 40 was Ronald Wilson Reagan
President number 41 was George Herbert Walker Bush
President number 42 was William Jefferson Clinton
President number 43 was George Walker Bush
President number 44 was Barack Hussein Obama
President number 45 was Donald Trump
President number 46 was Joe Biden

## loop over a string

In [51]:
today = "Wednesday"
#print(today[0])
#print(today[-2])
for letter in today:
    print(letter, end = '-')

W-e-d-n-e-s-d-a-y-